/*
* MAIN
*/
main {
    width: 80%;
    min-width: 280px;
    max-width: 960px;
    margin: auto;
    background-color: $primary-bg-color;

    ul {
        background-color: $secondary-bg-color;

        li {
            margin-bottom: 20px;
        }
    }
}