/** ##### Structure #####
 * - Variables
 * - Browser-Reset
 * - Body
 * - Z-Index
 * - Import
 *     - Header
 *     - Main (include HTML-Elements)
 *     - Footer
 * - % : vererbung
 * - @extend : verbinden
 * - @mixin : @include Funktionen
 * - @each EACH
 * ##################### */

/* VARS */
$primary-color: #333;
$secondary-color: #333;

$primary-bg-color: #f1f1f1;
$secondary-bg-color: red;
$primary-font-family: 'Courier New', Courier, monospace;

/**
* Browser-Reset
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
ul {
list-style: none;
}

a {
text-decoration: none;
}

img {
width: 100%;
height: auto;
line-height: 0;
}

html {
scroll-behavior: smooth;
}

/**
* BODY
*/
body {
    font-family: $primary-font-family;
    color: $primary-color;
}

/**
* IMPORT
*/

@import "assets/header";
@import "assets/main";
@import "assets/footer";

// VERERBUNG %
// BASE Styles
%button-base {
    padding: 1em 2em;
    background-color: $primary-color;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    border: none;
}

// verbinden @extend
// INDIVUDUAL Styles
.button-home {
    @extend %button-base;
    border: 1px solid #000;
}

// Mixins
// Funktion
@mixin paddingButton($padding) {
    padding: $padding;
}

.button-super {
    @include paddingButton(40px);
    background-color: green;
}

// EACH
$sizes: 20px, 30px, 40px;

@each $size in $sizes {
    .size-#{$size}  {
        padding: $size;
    }
}
